@import url("style.css");

@import url("modal.css");

@import url("responsive.css");

@import url('generalresponsive.css');
/* colour scheme */
/* lightbrown #E6E2AF
DARKLIGHTBROWN #A7A37E
LIGHTESTBROWN #EFECCA
BLUE #046380
DAEK GREUBLUE #002F2F*/

/* #resetpassword {
    background: url(../images/auntyemail.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    min-height: 82vh;
    position: relative;
} */
/* star check */
.star {
    visibility: hidden;
    font-size: 20px;
    cursor: pointer;
    color: orange;
}

.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: orange;

}
.nav-link {
    background-color: #0596c2; 
    color: #fff;
    opacity: 1;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;

}
.nav-link:hover {
    background-color: #ffffff;
    color: #0596c2;

}
.nav-reg {
    background-color: #ffffff; 
    color: #0596c2;
    opacity: 1;
    font-size: 14px;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
}
.nav-reg:hover {
    background-color: #0596c2;
    color: #fff;
}
.lead-text{
    text-shadow: 0.5px 1px 1px rgb(84, 126, 126);
}

.star:checked:before {
    content: "\2606";
    position: absolute;

}

#content-1 {
    border-right: 1px solid #E6E2AF;
}

#indexpage {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

#indexpage::before {
    background-image: url(../images/envelopes.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
}

#indexpage::after {
    background-color: #715a92;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.blue-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.blue-scrollbar::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.blue-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #046380;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.message {
    font-family: 'Montserrat', sans-serif;
}

.message-body {
    white-space: nowrap;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.sender-name {
    font-family: 'Courgette', cursive;
    font-size: 0.75rem;
}

.p-card {
    position: relative;
    background-color: #E6E2AF;
    box-shadow: 1px 2px 3px rgb(80, 79, 79);
}

main {
    min-height: 100vh;
    min-width: 100vw;
}

#content {
    width: 93%;
}

nav header {
    max-height: 10vh;
    /* background-color: #E6E2AF; */
    color: #ffffff;
    background: rgb(4, 99, 128);
    background: linear-gradient(259deg, rgba(4, 99, 128, 1) 0%, rgba(0, 47, 47, 1) 33%, rgba(4, 99, 128, 1) 63%, rgba(0, 47, 47, 1) 100%);
    /* background-image: linear-gradient(#EFECCA, #E6E2AF, rgb(241, 237, 171) 50%); */
    border: 1px solid rgb(4, 99, 128);
    /* border-right: 1px solid rgb(247, 243, 187); */
    box-shadow: 1px 2px 2px grey;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.my-auto h4 a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    color: #ffffff !important;
}

.my-auto h4 a:hover {
    color: #E6E2AF !important;
}

/* .logincard {
    width: 30% !important;
    height: auto !important;
} */

.resetForm {
    width: 30% !important;
    height: auto !important;
}

.logout:hover {
    color: #f83848;
}

.text-blue a {
    text-decoration: none;
    color: #046380;
}

.header-title {
    color: #ffffff !important;
    /* color: white; */
    /* font-size: 1.6rem;
    font-weight: 500; */
    text-decoration: none;
}

/* section css */
#test {
    /* font-size: 2rem; */
    max-width: 50%;
    word-wrap: break-word;
}

.card-title {
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 400;
}

.red-badge {
    background-color: rgb(207, 3, 13);
    color: white;
    padding: 0.2rem;
    text-align: center;
    border: 1px solid rgb(207, 3, 13);
    border-radius: 0.25rem;
    box-shadow: 1px 2px 3px grey;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.green-badge {
    background-color: #0ba369e7;
    color: white;
    padding: 0.2rem;
    text-align: center;
    border: 1px solid #0ba369e7;
    border-radius: 0.25rem;
    box-shadow: 1px 2px 3px black;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* register css */
select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #002F2F;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #A7A37E;
    border-radius: .25rem;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* admidashboard css */
.width-30 {
    max-width: 30%;
}

.width-70 {
    max-width: 70%;

}

/* nav part */
nav {
    max-height: 10%;
}

/* footer part*/
footer {
    max-height: 10%;
    color: #ffffff;
    text-align: center;
    background: rgb(4, 99, 128);
    background: linear-gradient(259deg, rgba(4, 99, 128, 1) 0%, rgba(0, 47, 47, 1) 33%, rgba(4, 99, 128, 1) 63%, rgba(0, 47, 47, 1) 100%);
    /* background-image: linear-gradient(#EFECCA, #E6E2AF, rgb(241, 237, 171) 50%); */
    border: 1px solid rgb(0, 47, 47);
    /* border-right: 1px solid rgb(247, 243, 187); */
    box-shadow: 1px 2px 2px grey;
}

.copyright {
    padding: 1rem;
}

/* admin dashboard css */
/* search icon */
.input-container {
    display: flex;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 8px;
    outline: none;
}

.input-field:focus {
    border: 1px solid #7cb4ca;
}

/* fixed button */
.fixed-menu {
    position: absolute;
    top: 0px;
    right: 0px;
}

.fixed-btn-edit {
    color: #046380;
    position: absolute;
    top: 5%;
    right: 5%;
}

.fixed-btn-delete {
    color: rgb(207, 3, 13);
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* dropdown menu  */

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fafafa;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #046380;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: rgb(167, 163, 126);
    background: linear-gradient(90deg, rgba(167, 163, 126, 1) 33%, rgba(230, 226, 175, 1) 79%, rgba(239, 236, 202, 1) 100%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* end of drop down */
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.width-150 {
    width: 150px;
}
section.wrapper{
    min-height: 80vh;
}

nav#sidebar.active {
    min-height: 80vh;
    background: #f1f0f0;
    color: #046380;
    width: 7%;
    text-align: center;
    transition: all 1s;
    position: relative;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
/* #sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
} */

#sidebar ul li a {
    text-align: center;
}

#sidebar.active ul li a {
    padding: 10px 5px;
    text-align: center;
    font-size: 0.85em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* #sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    align-content: center;
    background: #f1f0f0;
} */

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */

#sidebar ul p {
    color: #046380;
    padding: 7px;
}

#sidebar ul li a {
    font-size: 0.8em;
    display: block;
}

#sidebar ul li a:hover {
    color: #046380;
    background: rgb(167, 163, 126);
    background: linear-gradient(90deg, rgba(167, 163, 126, 1) 33%, rgba(230, 226, 175, 1) 79%, rgba(239, 236, 202, 1) 100%);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #046380;
    background: #E6E2AF;
}

.mssgicon {
    padding: 10px auto;
}

textarea.editor {
    /* width: 600px; */
    min-height: 200px;
    padding: 8px;
    resize: none;
    overflow: auto;

}
